<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>
    <form method = "post">
        <table>
            <tr>
                <td><input name="hw1" placeholder="Tema 1"></td>
                <td><input name="hw2" placeholder="Tema 2"></td>
            </tr>
            <tr>
                <td><input name="hw3" placeholder="Tema 3"></td>
                <td><input name="hw4" placeholder="Tema 4"></td>
            </tr>
            <tr>
                <td><input name="hw5" placeholder="Tema 5"></td>
                <td><input name="hw6" placeholder="Tema 6"></td>
            </tr>
            <tr>
                <td><input name="inf" placeholder="Anunturi Importante"></td>
                <td><input name="pass" placeholder="Parola"></td>
            </tr>
        </table>
        <div style="height: 5px; "></div>
        <input type="submit" value="Submit" style="border: 3px solid #8b6161;">
    </form>
    
</body>
</html>